<h1>Donation Page</h1>
<a routerLink="/home">Home</a>
<label>Your donation   </label>
<input id="DonationAmount" type="number" />

<button (click)="submitClicked()">Submit</button>

<label>Your donation percent in target  </label>
<div *ngIf="pieData">
    <app-pie-chart [data]="pieData" [dimensions]="dimensions"></app-pie-chart>
    <label>Your donation : {{donation}}</label>
    <label>Target : {{target}}</label>
    <label>Donation percentage : {{donationPercent}}%</label>
</div>

<div id="Donation">
    <p>Thank You for contributing to our cause</p>
    <p>You have contibuted %% to our Goal</p>
</div>


<div>
    <p>
        Please spread the awarness by sharing this page

    </p>
    <a routerLink="/home">Return to Home</a>

</div>