<div id="homepageComponent" style="height: 100%; width: 100%;">
    <div id="header">
        <mat-toolbar color="accent" display="flex">
            <span>Abiomed Interview Project</span>
            <span class="example-spacer"></span>
            <a mat-raised-button routerLink="/home">Home</a>
            <a mat-raised-button routerLink="/donate">Donate</a>
        </mat-toolbar>
    </div>
    <div id="ChildImage"></div>
    <div id="AboutCompany">
        <h3>About us</h3>
        <p>We are a Non Profitable organization. Our Objective is to help the ones who are in need.</p>
        <p>​We believe that we can make a difference, that collaborative efforts to serve the most vulnerable will one day transform the world, and that all people will live in strong, nurturing communities where children and their families can fulfill their
        </p>

        <p>We build trusting relationships with mission sustaining partners and collaborate with international program partners to transform communities and tackle the greatest barriers to sustainable futures. We partner with local leadership to strengthen
            communities world wide by supporting programs that provide vulnerable children and their families with opportunities for education, health care, and spiritual mentoring. </p>
    </div>
    <div id="DonationStatus">
        <h3>Donation status:</h3>
        <div id="PieChart">
            <div *ngIf="pieData">
                <app-pie-chart [data]="pieData" [dimensions]="dimensions"></app-pie-chart>
            </div>
        </div>
    </div>
</div>